<div class='wholeBox'>
  <div class='background'>
    <div style='display: flex;'>
      <h1 class='title'>Genshin Impact plan!
        <img class='paimon2' src='/moreImages/picture.jpg' />
      </h1>
      <div>
        {{!-- <img class='dissapear' src='/moreImages/wallpaper.png' /> --}}
      </div>
    </div>
    <div class='myWeapon'>
      Current Weapon: <textarea class='weaponText'></textarea>
    </div>
  </div>
  <main>
    <div class='mainContainer'>
      <div class='mainBox parent'>

        <div class='myFlower draggable border' data-artifact='flower'>
          <div class='preText' contentEditable="true" data-texting='Current Flower'></div>
        </div>
        <div class='myPlume draggable border' data-artifact='plume'>
          <div class='preText' contentEditable="true" data-texting='Current Plume'></div>
        </div>
        <div class='mySands draggable border' data-artifact='sands'>
          <div class='preText' contentEditable="true" data-texting='Current Sandstorm'></div>
        </div>
        <div class='myGoblet draggable border' data-artifact='goblet'>
          <div class='preText' contentEditable="true" data-texting='Current Golbet'></div>
        </div>
        <div class='myCirclet draggable border' data-artifact='circlet'>
          <div class='preText' contentEditable="true" data-texting='Current Circlet'></div>
        </div>
        <div class='flower draggable  border' data-artifact='flower'>
          <div class='preText' contentEditable="true" data-texting='Desired Flower'></div>
        </div>
        <div class='plume draggable border' data-artifact='plume'>
          <div class='preText' contentEditable="true" data-texting='Desired Plume'></div>
        </div>
        <div class='sands draggable border' data-artifact='sands'>
          <div class='preText' contentEditable="true" data-texting='Desired Sandstorm'></div>
        </div>
        <div class='goblet draggable border' data-artifact='goblet'>
          <div class='preText' contentEditable="true" data-texting='Desired Golbet'></div>
        </div>
        <div class='circlet draggable border' data-artifact='circlet'>
          <div class='preText' contentEditable="true" data-texting='Desired Circlet'></div>
        </div>

        <div class='flowerText border'>
          <textarea class='textBoxSize textBox' rows="5"> Main Stat: </textarea>
        </div>
        <div class='plumeText border'>
          <textarea class='textBoxSize textBox' rows="5"> Main Stat: </textarea>
        </div>
        <div class='sandsText border'>
          <textarea class='textBoxSize textBox' rows="5"> Main Stat: </textarea>
        </div>
        <div class='gobletText border'>
          <textarea class='textBoxSize textBox' rows="5"> Main Stat: </textarea>
        </div>
        <div class='circletText border'>
          <textarea class='textBoxSize textBox' rows="5"> Main Stat: </textarea>
        </div>

        <div class='tickbox1 center border'>
          <input type="checkbox" class='checkBox'>
        </div>
        <div class='tickbox2 center border'>
          <input type="checkbox" class='checkBox'>
        </div>
        <div class='tickbox3 center border'>
          <input type="checkbox" class='checkBox'>
        </div>
        <div class='tickbox4 center border'>
          <input type="checkbox" class='checkBox'>
        </div>
        <div class='tickbox5  center border'>
          <input type="checkbox" class='checkBox'>
        </div>

        <div class='artifactImgs draggableTwo border child2'>

          {{#each imgNames}}
          <div class="artifactImgBox" data-artifact='{{this.artifactType}}'>{{artifactSet}}
            <img src='/images/{{this.file}}' class="artifactImg" />
          </div>
          {{/each}}
        </div>
      </div>
      <div style='padding: 20px'>
        <button class='clear btn border'>Clear</button>
      </div>
      <div class='apiBox'>

        <div class='gridarea'>
          <label for='chars'>Recommended Build:<br>Select a character!:</label>
          <select name='chars' onchange=" myFunction()" class='charName'>
            {{#each characterNames}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class='weaponReco gridareab'>

        </div>
        <div class='artiSetApi gridareac'>
        </div>
        <div class='sgcApi gridaread'>
        </div>
        <div class='substatsApi gridareae'>
        </div>
      </div>
    </div>
  </main>

</div>
<script>


  dragula([...document.querySelectorAll('.draggable'), document.querySelector('.draggableTwo')], {
    copy: function (el, source) {
      return source === document.querySelector('.draggableTwo')
    },
    accepts: function (el, target) {
      const elementArtifactType = el.getAttribute('data-artifact');
      const targetArtifactType = target.getAttribute('data-artifact');

      return elementArtifactType === targetArtifactType;
    },
    removeOnSpill: true
  }).on('drop', (el, container) => {
    container.innerHTML = '';
    container.appendChild(el);
  });

  const genshinNames = {{{ chracterNamestString }}};
  // console.log(genshinNames);
  const genshinDeets = {{{ chracterDeetString }}};
  //console.log(genshinDeets);
  function myFunction() {
    let nameCheck = document.querySelector('.charName').value;
    const characterDetails = genshinDeets[nameCheck];
    //console.log(characterDetails);
    document.querySelector('.weaponReco').innerHTML = "<div class='fontColor'>Recommended Weapons: </div>" + characterDetails.weapon;
    document.querySelector('.artiSetApi').innerHTML = "<div class='fontColor'>Recommended Artifact Sets: </div>" + characterDetails.arti;
    document.querySelector('.sgcApi').innerHTML = "<div class='fontColor'>Recommended SGC Stats: </div>" + characterDetails.sgc;
    document.querySelector('.substatsApi').innerHTML = "<div class='fontColor'>Recommended Substats: </div>" + characterDetails.substat;
  };

  const clear = document.querySelector('.btn');
  clear.addEventListener('click', () => {
    const text = document.querySelectorAll('.textBox');
    const checkBox = document.querySelectorAll('.checkBox');
    const draggable = document.querySelectorAll('.draggable')
    console.log('hello?')
    for (var i = 0; i < draggable.length; i++) {

      if (text[i]) {
        const textVar = text[i];
        textVar.value = " Main Stat:";
        checkBox[i].checked = false;
      }
      draggable[i].innerHTML = '';

    };
  });


</script>