<h1 class='title'>Genshin Impact plan!</h1>
<div class='myWeapon'>
  Current Weapon: <textarea class='weaponText'></textarea>
</div>
<main class='mainContainer'>
  <div class='mainBox'>

    <div class='myFlower draggable dropzone border' data-artifact='flower'>
    </div>
    <div class='myPlume draggable dropzone border' data-artifact='plume'>
    </div>
    <div class='mySands draggable dropzone border' data-artifact='sands'>
    </div>
    <div class='myGoblet draggable dropzone border' data-artifact='goblet'>
    </div>
    <div class='myCirclet draggable dropzone border' data-artifact='circlet'>
    </div>

    <div class='flower draggable dropzone  border' data-artifact='flower'>
    </div>
    <div class='plume draggable dropzone border' data-artifact='plume'>
    </div>
    <div class='sands draggable dropzone border' data-artifact='sands'>
    </div>
    <div class='goblet draggable dropzone border' data-artifact='goblet'>
    </div>
    <div class='circlet draggable dropzone border' data-artifact='circlet'>
    </div>

    <div class='flowerText border'>
      <textarea class='textBoxSize textBox' rows="5"> Main Stat:</textarea>
    </div>
    <div class='plumeText border'>
      <textarea class='textBoxSize textBox' rows="5"> Main Stat:</textarea>
    </div>
    <div class='sandsText border'>
      <textarea class='textBoxSize textBox' rows="5"> Main Stat:</textarea>
    </div>
    <div class='gobletText border'>
      <textarea class='textBoxSize textBox' rows="5"> Main Stat:</textarea>
    </div>
    <div class='circletText border'>
      <textarea class='textBoxSize textBox' rows="5"> Main Stat:</textarea>
    </div>

    <div class='tickbox1 center border'>
      <input type="checkbox" class='checkBox'>
    </div>
    <div class='tickbox2 center border'>
      <input type="checkbox" class='checkBox'>
    </div>
    <div class='tickbox3 center border'>
      <input type="checkbox" class='checkBox'>
    </div>
    <div class='tickbox4 center border'>
      <input type="checkbox" class='checkBox'>
    </div>
    <div class='tickbox5  center border'>
      <input type="checkbox" class='checkBox'>
    </div>

    <div class='artifactImgs draggable dropzone border'>

      {{#each imgNames}}
      <div class="artifactImg" data-artifact='{{this.artifactType}}'>{{artifactSet}}
        <img src='/images/{{this.file}}' width='140px' height='auto' />
      </div>
      {{/each}}
    </div>

  </div>
  <button class='clear btn border'>Clear</button>



  <div class='apiBox'>

    <div class='gridarea'>
      <label for='chars'>Recommended Build:<br>Select a character!:</label>
      <select name='chars' onchange=" myFunction()" class='charName'>
        {{#each characterNames}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class='weaponReco gridareab'>
    </div>
    <div class='artiSetApi gridareac'>
    </div>
    <div class='sgcApi gridaread'>
    </div>
    <div class='substatsApi gridareae'>
    </div>
  </div>

</main>

<script>

  const droppable = new Draggable.Droppable(document.querySelectorAll('.draggable'), {
    draggable: 'div',
    dropzone: '.dropzone'
  });

  let droppableOrigin;

  // --- Draggable events --- //
  droppable.on('drag:start', (evt) => {
    droppableOrigin = evt.originalSource.dataset.artifact;
  });

  droppable.on('droppable:dropped', (evt) => {
    const isParentContainer = evt.dropzone.classList.contains('artifactImgs')
    if (droppableOrigin !== evt.dropzone.dataset.artifact && !isParentContainer) {
      evt.cancel();
    }
  });


  const genshinNames = {{{ chracterNamestString }}};
  // console.log(genshinNames);
  const genshinDeets = {{{ chracterDeetString }}};
  //console.log(genshinDeets);
  function myFunction() {
    let nameCheck = document.querySelector('.charName').value;
    const characterDetails = genshinDeets[nameCheck];
    //console.log(characterDetails);
    document.querySelector('.weaponReco').innerHTML = characterDetails.weapon;
    document.querySelector('.artiSetApi').innerHTML = characterDetails.arti;
    document.querySelector('.sgcApi').innerHTML = characterDetails.sgc;
    document.querySelector('.substatsApi').innerHTML = characterDetails.substat;
  };

  const clear = document.querySelector('.btn');
  const text = document.querySelectorAll('.textBox');
  const checkBox = document.querySelectorAll('.checkBox');

  clear.addEventListener('click', function () {
    console.log('hello?')
    for (var i = 0; i < text.length; i++) {
      const textVar = text[i];
      textVar.value = " Main Stat:";
    };
    for (var i = 0; i < checkBox.length; i++) {
      const checkBoxVar = checkBox[i];
      checkBoxVar.checked = false;
    };
  });


</script>